#search{
  text-align: center;
  margin-top: 15%
}

#submit, #lucky{
  color: black;
  margin-top: 2%;
  padding: 7px;
}

#round{
  padding: 15px;
  border-radius:25px;
  width: 460px;
}

#google{
  text-align: center;
  /*margin-top: 40%;*/


}
